<!-- Beacon Momentum 3.1 Navigation -->
<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/" class="logo">
                <div class="logo-icon">B</div>
                Beacon Momentum
            </a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="digital-grandpa.html">Mentorship</a></li>
                <li><a href="beacon-rise.html">Beacon Rise</a></li>
                <li><a href="labs.html">Beacon Labs</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
